@model KitapKurdu.ViewModels.RandomBookViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    var className = Model.Customers.Count > 5 ? "popüler" : null;
}
<h2 class="popüler">@Model.Book.Name</h2>

@if(Model.Customers.Count ==0)
    {
<p>Bu kitap daha önce kiralanmamış</p>
    }
else {
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }

    </ul>
}
