
@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KitapKurdu</title>
</head>
<body>
    <ul>
        <li><a href="https://localhost:44334/Books">Kitaplar</a></li>
    </ul>
</body>
</html>
<style>
    * {
        color: black;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    body {
        background: #202020;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        overflow: hidden;
    }

    ul {
        position: relative;
    }

        ul li {
            list-style: none;
            text-align: center;
        }

            ul li a {
                color: rgb(121, 120, 120);
                text-decoration: none;
                font-size: 3em;
                padding: 5px 20px;
                display: inline-flex;
                font-weight: 900;
                transition: 0.5s;
            }

        ul:hover li a {
            color: #0002;
        }

        ul li:hover a {
            color: #000;
            background: rgba(255,255,255,1);
        }

        ul li a:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 40%;
            transform: translate(-50%,-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 5em;
            color: rgba(0,0,0,.1);
            border-radius: 50%;
            z-index: -1;
            opacity: 0;
        }

        ul li a:hover:before {
            opacity: 1;
            left: 50%;
            width: 1800px;
            height: 1800px;
        }

        ul li:nth-child(6n+1) a:before {
            background: #81ecec;
        }

</style>